.login {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba( 218,218,218,0.5);
  background-image: url("../images/login-bg.jpg");
  background-size: cover;
}

.login-logo {
  width: 600px;
  height: 24px;
  margin-right: 10px;
  padding-right: 10px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: auto 24px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  position: absolute;
  left: 200px;
  top: 50px;
}
.login-logo span{
  line-height: 24px;
  font-size: 20px;
  height: 24px;
  padding-left: 30px;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 600;
}
.main-title {
  margin: 100px 0 0 0;
  height: 34px;
  text-align: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto 34px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.main-title span{
  line-height: 34px;
  font-size: 34px;
  height: 34px;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 600;
}
.sub-title {
  margin: 20px 0 60px 0;
  text-align: center;
  color: #ffffff;
}

.login-form {
  border-radius: 6px;
  background: #ffffff;
  width: 400px;
  margin-top:-30px;
  padding: 40px 40px 20px 40px;
}
.login-form .el-input {
  height: 38px;
}
.login-form .el-input input {
  height: 38px;
}
.login-form .el-input .input-icon {
  height: 39px;
  width: 14px;
  margin-left: 2px;
}
.login-tip {
  font-size: 13px;
  text-align: center;
  color: #bfbfbf;
}
.login-code {
  width: 33%;
  height: 38px;
  float: right;
}

.login-code img {
  cursor: pointer;
  vertical-align: middle;
}
.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
.login-code-img {
  height: 38px;
}